<ion-view view-title="Places">
  <ion-content>

<div class="list">

    <a class="item item-text-wrap item-thumbnail-left" href="#">
      <img src="img/harrisons.jpg">
      <h2>Harrison's Cave</h2>
      <p>Explore the sub-terrain of Harrison's Cave</p>
    </a>



    <a class="item item-text-wrap item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>



    <a class="item item-text-wrap item-thumbnail-left" href="#">
      <img src="img/ionic.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

</div>
</ion-view>
</ion-content>
