<ion-view view-title="Search">
  <ion-content>

<img class="full-image" src="img/cropover.jpg">
<div class="bar">
  <h2 class="title">The Crop Over festival of Barbados</h2>
</div>
<div class="list">

  <div class="item item-divider">
    Candy Bars
  </div>

  <a class="item item-text-wrap">

Crop Over is one of the most popular and colourful festivals in the caribbean.
 It dates all the way back to the 18th century. It originated from a huge celebration to signify
 the culmination of the sugar cane harvest. The Crop Over seasons consists of a bunch of different
 events which showcase many cultural aspects of Barbados. It showcases the crafts, music, arts and cuisine.
  It starts with the Opening Gala and tansitions into
 many other events with the biggest of them being Grand Kadooment. Some of the list of events include
  </a>


</div>
  </ion-content>
</ion-view>
